{% extends 'content-base.html' %}
{% load static %}
{% block title_block %}
    Dashboard
{% endblock %}
{% block css_block %}

  	<link rel="stylesheet" href="{% static 'main/Simple-UI-Semantic-UI-Admin/dist/vendors/datatables.net/datatables.net-responsive-se/css/responsive.semanticui.min.css' %}">
  	<link rel="stylesheet" href="{% static 'main/Simple-UI-Semantic-UI-Admin/dist/vendors/datatables.net/datatables.net-buttons-se/css/buttons.semanticui.min.css' %}">


{% endblock %}
{% block content_block %}
		<div class="right floated thirteen wide computer sixteen wide phone column" id="content">
			<div class="ui container grid">
				<div class="row">
					<div class="fifteen wide computer sixteen wide phone centered column">
                        <div class="ui steps">
                          <div class="step">
                            <i class="{{ page_icon }} icon"></i>
                            <div class="content">
                              <div class="title">{{ page_title }}</div>
                              <div class="description">{{ page_description }}</div>
                            </div>
                          </div>
                          <a class="active step" href="{{ next_page_url }}">
                            <i class="{{ next_page_icon }} icon"></i>
                            <div class="content">
                              <div class="title">{{ next_page_title }}</div>
                              <div class="description">{{ next_page_description }}</div>
                            </div>
                          </a>
                        </div>
						<h2><i class="{{ page_icon }} icon"></i> {{ page_title }}</h2>
						<div class="ui divider"></div>
						<div class="ui grid">
							<!-- BEGIN STATISTIC ITEM -->
							<!-- END STATISTIC ITEM -->
							<div class="sixteen wide computer sixteen wide phone column justifed">
                                <div class="ui grid">
                                    <div class="twelve wide column">

                                      {% include 'include/messages.html' %}
                                      {% if messages %}
                                          <hr/>
                                      {% endif %}
                                        <form class="ui form" method="post" action="">
                                            {% csrf_token %}
                                            {% if slug == 'change-password' %}
                                              <div class="field">
                                                <label id="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.old_password }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.old_password.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="field">
                                                <label id="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.new_password1 }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                  </div>
                                                </div>
                                                {% with form.new_password1.errors as errors %}
                                                    {% include 'include/error-item.html' %}
                                                {% endwith %}
                                              </div>
                                              <div class="field">
                                            <label id="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                                            <div class="fields">
                                              <div class="sixteen wide field">
                                                {{ form.new_password2 }}
        {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                {% with form.new_password2.errors as errors %}
                                                    {% include 'include/error-item.html' %}
                                                {% endwith %}
                                              </div>
                                            </div>
                                          </div>
                                            {% else %}

                                              <div class="field">
                                                <label id="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.first_name }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.first_name.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="field">
                                                <label id="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.last_name }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.last_name.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="field">
                                                <label id="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.username }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.username.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="field">
                                                <label id="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.email }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.email.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="field">
                                                <label id="{{ form.date_joined.id_for_label }}">{{ form.date_joined.label }}</label>
                                                <div class="fields">
                                                  <div class="sixteen wide field">
                                                    {{ form.date_joined }}
            {#                                        <input type="text" name="shipping[address]" placeholder="Street Address">#}
                                                    {% with form.date_joined.errors as errors %}
                                                        {% include 'include/error-item.html' %}
                                                    {% endwith %}
                                                  </div>
                                                </div>
                                              </div>
                                            {% endif %}
                                          <button class="ui button primary">{{ btn_label }}</button>
                                        </form>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
{% block js_block %}

{% endblock %}