
{% if messages %}
    {% for message in messages %}
    <div class="ui message
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        info
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        success
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        error
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.warning %}
        warning
    {% endif %}
">
      <div class="header">
        {{ message }}
      </div>
    </div>
    {% endfor %}
{% endif %}